.btn {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.btn .ng-fa-icon:not(:only-child) {
  margin-right: 5px;
}

.btn-primary {
  background-color: #0072ff;
}

.btn-primary:hover {
  background-color: #0022ff;
}

.btn-secondary {
  background-color: #b2bec3;
}

.btn-secondary:hover {
  background-color: #636e72;
}

.btn-success {
  background-color: #1dd1a1;
}

.btn-success:hover {
  background-color: #10ac84;
}

.btn-danger {
  background-color: #ff6b6b;
}

.btn-danger:hover {
  background-color: #ee5253;
}
