<div class="todo-container" *ngIf="!editing; else elseBlock">
  <span
    class="todo-text"
    [ngClass]="{ completed: todo.completed }"
    (click)="toggleComplete(todo)"
    >{{ todo.text }}</span
  >
  <div class="button-group">
    <app-button
      [variant]="'secondary'"
      [icon]="faEdit"
      (handleClick)="toggleEdit()"
    ></app-button>
    <app-button
      [variant]="'danger'"
      [icon]="faTrash"
      (handleClick)="deleteTodo(todo.id)"
    ></app-button>
  </div>
</div>

<ng-template #elseBlock>
  <div class="todo-container">
    <form class="edit-form" (ngSubmit)="submitEdit()" #editForm="ngForm">
      <div class="form-group">
        <input
          type="text"
          name="editText"
          id="editText"
          [(ngModel)]="editText"
        />
      </div>
      <div class="button-group">
        <app-button
          [variant]="'success'"
          [type]="'submit'"
          [icon]="faSave"
        ></app-button>
        <app-button
          [variant]="'secondary'"
          [type]="'reset'"
          [icon]="faTimes"
          (handleClick)="toggleEdit()"
        ></app-button>
      </div>
    </form>
  </div>
</ng-template>
