<div class="todos-container">
  <app-header></app-header>
  <app-todo-form
    *ngIf="showAddForm"
    (addTodo)="handleSubmit($event)"
  ></app-todo-form>

  <app-spinner *ngIf="isLoading; else elseBlock"></app-spinner>

  <ng-template #elseBlock>
    <app-todo-item
      *ngFor="let todo of todos"
      [todo]="todo"
      (handleDelete)="deleteTodo(todo.id)"
      (handleEdit)="updateTodo($event)"
      (handleToggleComplete)="toggleComplete($event)"
    ></app-todo-item>
  </ng-template>
</div>
