.todo-container {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-group {
  display: flex;
  align-items: center;
}
