.root-container {
  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .root-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
