:root {
  --clr-font: #222;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--clr-font);
  background-color: #f7fafc;
}

.root-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
