.btn {
  padding: 8px 16px;
  cursor: pointer;
  font: inherit;
  border: none;
  border-radius: 5px;
  background-color: #000066;
  color: white;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #0000aa;
}

.btn-danger {
  background-color: #660000;
}

.btn-danger:hover {
  background-color: #aa0000;
}
