/* You can add global styles to this file, and also import other style files */
:root {
  --clr-borders: #ccc;
  --clr-font: #222;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--clr-font);
  background-color: #f7fafc;
}
